.faq-section {
  background-color: #F5F5F5;
  width: 100%;
  height: 627px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.faq-container h1 {
  font-size: 4rem;
  font-family: AeonikTRIAL, sans-serif;
  color: #605CA8;
  margin-top: 100px;
}

.faq-container p {
  color: #605CA8;
  font-size: 2rem;
  text-align: left;
  padding: 20px 0;
  width: 90%;
  max-width: 1216px;
}

.faq-container button {
  width: 100%;
  max-width: 525px;
  height: 80px;
  background-color: #605CA8;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  font-family: AeonikTRIAL, sans-serif;
  margin-top: 74px;
}